# Variable

### Create a variable named carname and assign the value Volvo to it.

In [1]:
carname = 'Volvo'

### Create a variable named x and assign the value 50 to it.

In [2]:
x=50

### Display the sum of 5 + 10, using two variables: x and y.

In [4]:
x,y=5,10
print(x+y)

15

### Create a variable called z, assign x + y to it, and display the result.

In [5]:
z = x + y
z

15

### Remove the illegal characters in the variable name:

In [ ]:
 #,@,!, $, %, ^, &, *, (, ), -, +, =, {, }, [, ], |, , :, ;, ", ', <, >, ,, ., ?, /, or ~.

### Insert the correct syntax to assign the same value to all three variables in one code line.

In [7]:
a = b = c = 5

### The following code example would print the data type of x, what data type would that be?

In [8]:
x = ' Ahmed '
type(x)

str

In [9]:
x = 123
type(x)

int

In [10]:
x = [1,2,3]
type(x)

list

In [11]:
x = {'k':[1,2,3] }
type(x)

dict

### The following code example would print the data type of x, what data type would that be?

In [12]:
x = (1,2,3)
type(x)

tuple

### Insert the correct syntax to convert x into a floating point number.

In [13]:
x = 50
float(x)

50.0

### Insert the correct syntax to convert x into a integer.

In [14]:
int(x)

50

### Use the len method to print the length of the string.

In [15]:
x = 'Ahmed'
len(x)

5

### Get the first character of the string txt.

In [16]:
x = 'txt'
x[0]

't'

### Get the characters from index 2 to index 4 (llo).

In [17]:
x = 'hello'
x[2:]

'llo'

### Return the string without any whitespace at the beginning or the end.

In [23]:
x = '  Ahmed Mohamed   '
x.strip(" ")

'Ahmed Mohamed'

### Convert the value of txt to upper case.

In [25]:
x = ' txt '
x.upper()

' TXT '

### Convert the value of txt to lower case.

In [26]:
x = 'TXT'
x.lower()

'txt'

### Replace the character H with a J.

In [28]:
x = 'Hello, WorldH'
x.replace('H','J')

'Jello, WorldJ'

### Using format function to print the age

In [29]:
age = 22

In [30]:
print('Age = {0}'.format(age))

Age =22

### The statement below would print a Boolean value, which one?

### Multiply 10 with 5, and print the result.

In [31]:
10*5

50

### Divide 10 by 2, and print the result.

In [32]:
10/2

5.0

### Create a list and check if the value in this list or not

In [33]:
list1=['ahmed','mohamed','abd','elfatah']
item = input("enter what do you search for ... ")
if item in list1 :
    print("exist")
else:
    print("NOT exist")

enter what do you search for ... abd
exist

### Use the correct comparison operator to check if 5 is not equal to 10.

In [34]:
5 != 10

True

### Use the correct logical operator to check if at least one of two statements is True.

In [35]:
if 5 < 8 or 5 == 8:
    print("yes")
else:
    print('no')

yes

### Print the second item in the fruits list.

In [36]:
fruits=['Apple', 'Banana' , 'orange' , 'mango']

In [37]:
fruits[1]

'Banana'

### Change the value from "apple" to "kiwi", in the fruits list.

In [38]:
fruits[0]='kiwi'
fruits

['kiwi', 'Banana', 'orange', 'mango']

###  Use the append method to add "orange" to the fruits list.

In [40]:
fruits.append("orange")
fruits

['kiwi', 'Banana', 'orange', 'mango', 'orange', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [41]:
fruits.insert(1,'lemon')

In [42]:
fruits

['kiwi', 'lemon', 'Banana', 'orange', 'mango', 'orange', 'orange']

### Use the remove method to remove "banana" from the fruits list.

In [45]:
fruits.remove("Banana")

In [46]:
fruits

['kiwi', 'lemon', 'orange', 'mango', 'orange', 'orange']

### Use negative indexing to print the last item in the list.

In [47]:
fruits[-1]

'orange'

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [48]:
fruits[2:5]

['orange', 'mango', 'orange']

### Use the correct syntax to print the number of items in the list.

In [49]:
len(fruits)

6

### Use the correct syntax to print the first item in the fruits tuple.

In [51]:
fruits=('apple','banana','lemon','kiwi')

In [52]:
fruits[0]

'apple'

### Use the correct syntax to print the number of items in the fruits tuple.

In [53]:
len(fruits)

4

### Use the add method to add "orange" to the fruits set.

In [58]:
fruits= set(['Apple', 'Banana' ,  'mango'])
fruits.add('orange')

In [59]:
fruits

{'Apple', 'Banana', 'mango', 'orange'}

### Use the correct method to add multiple items (more_fruits) to the fruits set.

In [62]:
fruits={'Apple', 'Banana', 'mango', 'orange'}
more_fruits = ['cherry','kiwi','avocado']
fruits.update(more_fruits)

In [63]:
fruits

{'Apple', 'Banana', 'avocado', 'cherry', 'kiwi', 'mango', 'orange'}

### Use the remove method to remove "banana" from the fruits set.

In [65]:
fruits.remove("Banana")

In [66]:
fruits

{'Apple', 'avocado', 'cherry', 'kiwi', 'mango', 'orange'}

### Use the get method to print the value of the "model" key of the car dictionary.

In [69]:
car = { 'name':['volvo'],'model':[1964] }
model = car.get('model')

In [70]:
model

[1964]

### Change the "year" value from 1964 to 2020.

In [71]:
car['model'][0] = 2020

In [72]:
car

{'name': ['volvo'], 'model': [2020]}

### Add the key/value pair "color" : "red" to the car dictionary.

In [73]:
car['color'] = 'red'

In [74]:
car

{'name': ['volvo'], 'model': [2020], 'color': 'red'}

### Use the pop method to remove "model" from the car dictionary.

In [75]:
car.pop('model')

[2020]

In [76]:
car

{'name': ['volvo'], 'color': 'red'}

### Use the clear method to empty the car dictionary.

In [78]:
car.clear()

In [79]:
car

{}

### Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".

In [80]:
a ,b = 5,8
if a==b:
    print("1")
elif a > b:
    print("2")
else:
    print("3")

3

### Use the correct short hand syntax to write the following conditional expression in one line:

In [83]:
x=int(input("enter number : "))
resu="{0} is greater than or eequal 10".format(x) if x >= 10 else "{0} is less than 10".format(x)
print(resu)

enter number : 10
10 is greater than or eequal 10

### Print i as long as i is less than 6.

In [84]:
for i in  range(10):
    if i < 6 :
        print(i)
    else:
        break

0
1
2
3
4
5

### Stop the loop if i is 3.

In [85]:
for i in range(10):
    if i == 3:
        break
    else:
        print(i)

0
1
2

### In the loop, when i is 3, jump directly to the next iteration.

In [87]:
for i in range(5):
    if i == 3:
        continue
    else:
        print(i)

0
1
2
4

### Print a message once the condition is false.

In [88]:
x = 5
if x < 5:
    print("yes")
else:
    print("condittion is false")

condittion is false

### In the loop, when the item value is "banana", jump directly to the next item.

In [92]:
fruits=['Apple', 'Banana', 'mango', 'orange']
for items in fruits:
    if item == 'Banana':
        continue
    else:
        print(items)

Apple
Banana
mango
orange

### Use the range function to loop through a code set 6 times.

In [93]:
for i in range(6):
    print(i)

0
1
2
3
4
5

### Exit the loop when x is "banana".

In [95]:
fruits=['Apple', 'Banana', 'mango', 'orange']
for items in fruits:
    if items == 'Banana':
        break
    else:
        print(items)

Apple

### Create a function named my_function.

In [96]:
def my_function():
    return 0

### Execute a function named my_function.

In [97]:
my_function()

0

### Inside a function with two parameters, print the first parameter.

In [98]:
def fun(x1,x2):
    print(x1)

In [99]:
a,b =5,8
fun(a,b)

5

### Let the function return the x parameter + 5.

In [100]:
def fun2(a,b):
    return a+5
x,z = 5,8
fun2(x,z)

10

### If you do not know the number of arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

In [104]:
def fun3(*k):
    for i in k:
        print(k[i-1])
fun3(1,2,3,4,5)

1
2
3
4
5

### If you do not know the number of keyword arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

### Create a lambda function that takes one parameter (a) and returns it.

### Implement a function to find all prime numbers up to a given number n. Assume n is a positive integer.

In [105]:
def find_primes(n):
    primes = []
    for i in range(2, n+1):
        is_prime = True
        for j in range(2, int(i**0.5)+1):
            if i % j == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(i)
    return primes

In [107]:
prime = find_primes(20)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19]

###  Implement a generator function to generate the Fibonacci sequence up to a given n terms.

In [108]:
def fibonacci(n):
    a, b = 0, 1
    for i in range(n):
        yield a
        a, b = b, a + b

In [109]:
for num in fibonacci(10):
    print(num)

0
1
1
2
3
5
8
13
21
34

### Write a function to compute the power of a number x raised to the power n using recursion.

In [111]:
def power(x, n):
    if n == 0:
        return 1
    elif n % 2 == 0:
        y = power(x, n/2)
        return y * y
    else:
        return x * power(x, n-1)

In [114]:
result = power(2, 0)
print(result)

1